/*comentario
      Definindo o fundo da página -> 
      background-image: url(./assets/bg-mobile.jpg);
      Não repetir a imagem -> 
      background-repeat: no-repeat;
      Centralizar a imagem, usamos top para fazer com que o eixo y comece no topo da página -> 
            background-position: top center;
      Cobrir todo o espaço visível e adaptar a imagem, usamos o cover, o contain a gente define o tamanho do espaço que vai ocupar  
            background-size: cover;
      Atalho: Podemos colocar tudo em um unico formato*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Medida obdecerá a borda*/
}
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}
body {
  background: var(--bg-url) no-repeat top center/cover;
}
/* 
      Definimos um elemento container e colocamos sua borda e sua largura e altura*/
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/*CONTAINER*/
#container {
  /*height: 712px; /*altura*/
  width: 100%; /*largura*/
  max-width: 588px;
  /*border: 1px solid red; /*borda*/
  margin: 56px auto 0px; /*em cima embaixo nas lateriais*/
  padding: 0 24px;
}

/*PROFILE*/
#profile {
  text-align: center;
  padding: 24px; /* preenchimento interno*/
}
/* 
      Aqui estamos puxando os elementos img do profile*/
#profile img {
  width: 112px;
  margin: auto;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  margin-top: 8px;
}

/*SWITCH*/
#switch {
  position: relative; /* faz com que o position só fique dentro do switch*/
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  /*sobrepor posições*/
  position: absolute; /*quer dizer que ele está acima de todos*/
  top: 50%;
  left: 0;
  z-index: 1; /* quanto ele tá acima*/
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: (4px);
  border-radius: 9999px;
}

/*LINKS*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex; /*Conteudo ocupa todo espaço da caixa*/
  align-items: center; /* Alinhando os itens no meio*/
  justify-content: center;
  padding: 16px 24px; /*espaç interno vert. horiz.*/
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px; /*arredondamento de borda*/
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(
    4px
  ); /* tive que colocar pq alguns browsers não aceitam o backdrop-filter*/
  text-decoration: none;
  font-weight: 500px;

  transition: background 0.2s; /* fazer a transição entre o default e o hover*/
}

/*pseudo-selector propriedades quando passar o mouse*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/*SOCIAL LINKS*/
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background-color: var(--highlight-color);
}

/*FOOTER*/
footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}
